SpittersWebAppInitializer/target/**
SpittersWebAppInitializer/.settings/**
spring-actions/target/**
spring-actions/.settings/**
SpringCertifications-Chapter1/target/**
SpringCertifications-Chapter1/.settings/**
EventTracker/target/**
EventTracker/.settings/**